.logo-ap{
    margin-top: 10px;
    margin-left: 200px;
    width: 127px;
    height: 39px;
}

.logo-social{
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}