<div class="container" *ngIf="edu">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Institucion</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="edu.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Carrera</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="edu.descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="mesE">Mes</label>
                    <input type="text" class="form-control" id="mesE" name="mesE" [(ngModel)]="edu.mesE" required>
                </div>
                <div class="form-group">
                    <label for="anoE">Año</label>
                    <input type="text" class="form-control" id="anoE" name="anoE" [(ngModel)]="edu.anoE" required>
                </div>
                <div class="form-group">
                    <label for="lugarE">Lugar</label>
                    <input type="text" class="form-control" id="lugarE" name="lugarE" [(ngModel)]="edu.lugarE" required>
                </div>
                <br>
                <button class="btn btn-primary">
                    Editar educacion
                </button>
            </form>
        </div>
    </div>
</div>